fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

python-dotenv
passlib[bcrypt]
PyJWT

google-genai

langgraph
langchain
langchain-core

pydantic
pydantic-settings

requests

python-multipart
email-validator