fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

python-dotenv

passlib==1.7.4
bcrypt==4.3.0

PyJWT
python-jose[cryptography]

google-genai

langgraph
langchain
langchain-core

pydantic
pydantic-settings

requests

python-multipart
email-validator